<!DOCTYPE html>
<html>
<head>
<title>List Page</title>
<style>
	body{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	table{
		margin-left:auto;
		margin-right:auto;
}
</style>
</head>
<body>
	<h1>Data From Server</h1>
	<div style="text-align:center">
	<h2>table : book</h2>
	</div>
	<hr/>
	<table border="1">
		<tr>
			<th>no</th>
			<th>price</th>
		</tr>
		<% prodList.forEach(function(item, index){ %>
		<tr>
			<td><%= item.no %></td>
			<td><%= item.price %></td>
		</tr>
		<% }); %>
	</table>
</body>
</html>
